body {
  background-color: #0d0d0d;
}

h1{
  color : red;
}

.dropdownMenu button{
  position: absolute;
  top: 0px;
  right: 0px;
  background-color: #333333;
  color: #cccccc;
  padding: 10px 20px;
  border: none;
  cursor: pointer;
}

.dropdownMenu a{
  position: absolute;
  top: 27px;
  left: 1450px;
  text-decoration: none;
  color: #cccccc;
  background-color: #1a1a1a;
  display: block;
  padding: 10px 20px;
}

.dropdownMenu .content{
  display: none;
  position: absolute;
  background-color: #333333;
  left: 0px;
}

.dropdownMenu:hover .content{
  display: block;
}

